@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");

body {
  background: var(--background, #222);
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;

  transition-duration: 0.1s;
  transition-property: background;

  margin: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

h1 {
  text-align: center;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.middle {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.tile {
  --size: 5rem;
  --zoom: 1;
  --x: 0;
  --y: 0;
  --offset-x: 0;
  --offset-y: 0;
  --spacing: min(12rem, 30vmin);

  --result-size: calc(var(--size) * var(--zoom));

  position: absolute;
  left: calc(
    var(--result-size) / -2 + var(--x) * var(--spacing) + var(--offset-x) * 1px
  );
  top: calc(
    var(--result-size) / -2 + var(--y) * var(--spacing) + var(--offset-y) * 1px
  );
  width: var(--result-size);
  height: var(--result-size);
  border-radius: calc(var(--size) / 10 + 0.1rem);

  background: #000;

  text-align: center;
  line-height: var(--size);
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 0.1em #000, 0 0 0.3em #000, 0 0 1em #000;

  transition-duration: 0.2s;
  transition-property: all;
}

.flip {
  transform: rotate(360deg);
}

.button {
  user-select: none;
  cursor: pointer;
}

.round {
  border-radius: 100vmax;
}
