<script lang="ts">
  export let hueOffset;

  import { createEventDispatcher } from "svelte";
  import { scale, fade } from "svelte/transition";

  import Square from "./Square.svelte";
  import Tile from "../logic/Tile";
  import {
    hueToColor,
    hueToX,
    hueToY,
    lostHueToMark,
    lostHueToScore,
    hueDiff,
    Direction,
  } from "../logic/utils";

  const dispatch = createEventDispatcher();

  let tiles: Tile[] = [];
  const counted = {
    [Direction.Left]: 0,
    [Direction.Down]: 0,
    [Direction.Up]: 0,
    [Direction.Right]: 0,
  };

  export interface ScoreEntry {
    actual: number;
    chosen: number;
  }

  export interface Score {
    start: number;
    end: number;
    entries: ScoreEntry[];
  }

  const startTime = Date.now();
  const scoreEntries: ScoreEntry[] = [];

  const hues = {
    [Direction.Up]: hueOffset,
    [Direction.Right]: hueOffset + 90,
    [Direction.Down]: hueOffset + 90 * 2,
    [Direction.Left]: hueOffset + 90 * 3,
  };
  let hueLost: number;

  let usedHues = [];
  let highlighted: number;
  let availableHues = [...new Array(90)].map((_, i) => i * 4);

  const nextTile = () => {
    if (availableHues.length < 1) {
      document.body.style.removeProperty("background");
      end();
    } else {
      const hue = availableHues.splice(
        Math.floor(Math.random() * availableHues.length),
        1
      );
      tiles.push(new Tile(hue));
      document.body.style.setProperty("background", hueToColor(hue, 20, 10));
      availableHues = availableHues;
      tiles = tiles;
    }
  };

  const moveTile = (direction: Direction) => {
    const tile = tiles[tiles.length - 1];
    if (!tile || tile.direction) return;

    tile.direction = direction;
    tiles = tiles;

    counted[direction]++;
    usedHues = [...usedHues, tile.hue];
    highlighted = usedHues.length - 1;

    scoreEntries.push({ actual: tile.hue, chosen: hues[direction] });
    hueLost = hueDiff(tile.hue, hues[direction]);

    nextTile();
    setTimeout(() => tiles.length > 1 && tiles.shift(), 500);
  };

  const keyDown = (e) => {
    switch (e.code) {
      case "KeyH":
      case "KeyA":
      case "ArrowLeft":
        moveTile(Direction.Left);
        break;
      case "KeyJ":
      case "KeyS":
      case "ArrowDown":
        moveTile(Direction.Down);
        break;
      case "KeyK":
      case "KeyW":
      case "ArrowUp":
        moveTile(Direction.Up);
        break;
      case "KeyL":
      case "KeyD":
      case "ArrowRight":
        moveTile(Direction.Right);
        break;
    }
  };

  const init = () => {
    nextTile();
    document.addEventListener("keydown", keyDown);
  };
  setTimeout(init);

  const endingAnimationDuration = 4000;

  const end = () => {
    highlighted = undefined;
    document.removeEventListener("keydown", keyDown);
    const endTime = Date.now();

    const len = usedHues.length;
    const wasCounted = { ...counted };

    setTimeout(() => {
      tiles = [];
      usedHues = usedHues.map(
        (hue) => (hue + Math.floor(Math.random() * 360)) % 360
      );

      for (let i = 0; i < len; i++) {
        setTimeout(() => {
          for (const dir in counted) {
            counted[dir] = Math.floor(wasCounted[dir] * (1 - i / len));
          }
          counted = counted;
          const hue = usedHues.pop();
          usedHues = usedHues;
        }, (i * endingAnimationDuration) / len);
      }

      setTimeout(() => {
        const score: Score = {
          start: startTime,
          end: endTime,
          entries: scoreEntries,
        };
        dispatch("end", score);
      }, endingAnimationDuration + 300);
    }, 500);
  };
</script>

<style type="text/scss">
  .status {
    position: absolute;
    width: 100%;

    * {
      display: block;
      text-align: center;
    }
  }
</style>

<div>
  {#if hueLost !== undefined}
    {#key hueLost}
      <div class="status" transition:fade={{ duration: 100 }}>
        <h1>{lostHueToScore(hueLost, true)}</h1>
        <p style="text-transform: capitalize">{lostHueToMark(hueLost)}</p>
      </div>
    {/key}
  {/if}
  <div class="center">
    {#each tiles as tile (tile.id)}
      <Square {tile} {hues} {hueOffset} on:swipe={(e) => moveTile(e.detail)} />
    {/each}
    {#each Object.entries(counted) as [direction, count]}
      <div
        transition:scale
        class="button round tile"
        style={`
          --x: ${hueToX(hues[direction], hueOffset)};
          --y: ${hueToY(hues[direction], hueOffset)};
          --size: ${Math.min(count / 45, 1) * 1.5 + 2}rem;
          background: ${hueToColor(hues[direction])};
          z-index: 361;
        `}
        on:click={() => moveTile(direction)}>
        {count}
      </div>
    {/each}
    {#each usedHues as hue, i}
      <div
        transition:scale
        class="round tile"
        style={`
          --x: ${hueToX(hue, hueOffset)};
          --y: ${hueToY(hue, hueOffset)};
          --size: 0.4rem;
          opacity: 0.4;
          ${i === highlighted ? `
            --size: 1.1rem;
            opacity: 1;
          ` : ''}
          ${tiles.length === 0 ? `
            opacity: 1;
            transition-duration: ${endingAnimationDuration / 1000}s;
          ` : ''}
          background: ${hueToColor(hue)};
          z-index: ${hue};
        `} />
    {/each}
  </div>
</div>
