<script lang="ts">
  export let score;

  import { createEventDispatcher } from "svelte";
  import { scale } from "svelte/transition";

  import {
    hueDiff,
    lostHueToMark,
    lostHueToScore,
    HueMark,
  } from "../logic/utils";

  const dispatch = createEventDispatcher();

  const { start, end } = score;
  const entries = score.entries.map((e) => {
    const diff = hueDiff(e.actual, e.chosen);
    return {
      diff,
      mark: lostHueToMark(diff),
    };
  });
  const len = entries.length;
  const getMarkCount = (mark: HueMark): number =>
    entries.filter((e) => e.mark === mark).length;
  const getTime = (millis: number) => {
    const seconds = `${((millis / 1000) % 60).toFixed(2)}`.padStart(5, 0);
    const minutes = `${Math.floor(millis / 1000 / 60)}`.padStart(2, 0);
    return `${minutes}:${seconds}`;
  };

  const getTotal = (hueDiffs: number[]) => {
    let resultScore = 0;
    hueDiffs.forEach((diff) => (resultScore += lostHueToScore(diff)));
    return resultScore;
  };

  const total = getTotal(entries.map((e) => e.diff));

  const time = getTime(score.end - score.start);
  const goodCount = getMarkCount(HueMark.Good);
  const okayCount = getMarkCount(HueMark.Okay);
  const badCount = getMarkCount(HueMark.Bad);

  const keyDown = (e) => {
    if (["Space", "Enter"].includes(e.code)) submit();
  };

  const submit = () => {
    document.body.removeEventListener("keydown", keyDown);
    dispatch("submit");
  };

  document.body.addEventListener("keydown", keyDown);
</script>

<style type="text/scss">
  .dialogue {
    background: #0005;
    border-radius: 0.5rem;
    padding: 1rem;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    cursor: pointer;
  }

  .table {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5rem 1ex;

    *:nth-child(even) {
      text-align: right;
    }
  }

  i {
    margin-top: 1.3rem;
    display: block;
    text-align: center;
  }
</style>

<div class="middle">
  <div transition:scale class="dialogue" on:click={submit}>
    <h1>{total}</h1>
    <div class="table">
      <div>Good:</div>
      <div>{goodCount}</div>
      <div>Okay:</div>
      <div>{okayCount}</div>
      <div>Bad:</div>
      <div>{badCount}</div>
      <div>Time:</div>
      <div>{time}</div>
    </div>
    <i>Click to continue</i>
  </div>
</div>
