<script lang="ts">
  export let tile;
  export let hues;
  export let hueOffset;

  import { createEventDispatcher } from "svelte";
  import { scale } from "svelte/transition";

  import {
    hueToX,
    hueToY,
    Direction,
    directionX,
    directionY,
  } from "../logic/utils";

  const dispatch = createEventDispatcher();

  $: swipeThreshold = Math.min(
    Math.min(window.innerHeight, window.innerWidth) / 15,
    50
  );

  export interface Point {
    x: number;
    y: number;
  }

  let pointerOrigin: Point;
  let pointerDirection: Direction;

  const getPos = (e): Point =>
    e.touches
      ? {
          x: e.touches[0].clientX,
          y: e.touches[0].clientY,
        }
      : {
          x: e.clientX,
          y: e.clientY,
        };

  const pointerDown = (e) => {
    pointerOrigin = getPos(e);
  };
  const pointerMove = (e) => {
    if (!pointerOrigin) return;
    const { x, y } = getPos(e);
    const deltaX = x - pointerOrigin.x;
    const deltaY = y - pointerOrigin.y;

    const absDeltaX = Math.abs(deltaX);
    const absDeltaY = Math.abs(deltaY);

    if (absDeltaX > absDeltaY * 2 && absDeltaX > swipeThreshold)
      pointerDirection = deltaX < 0 ? Direction.Left : Direction.Right;
    else if (absDeltaY > absDeltaX * 2 && absDeltaY > swipeThreshold)
      pointerDirection = deltaY < 0 ? Direction.Up : Direction.Down;
    else pointerDirection = undefined;
  };
  const pointerUp = (e) => {
    pointerOrigin = undefined;

    if (!pointerDirection) return;
    const dir = pointerDirection;
    pointerDirection = undefined;

    dispatch("swipe", dir);
  };
</script>

<style>
  .holding {
    --zoom: 0.8;
  }
  .locked {
    --zoom: 0.7;
  }
</style>

<svelte:window
  on:mouseup={pointerUp}
  on:touchend={pointerUp}
  on:mousemove={pointerMove}
  on:touchmove={pointerMove} />
<div
  on:mousedown={pointerDown}
  on:touchstart={pointerDown}
  in:scale={{ duration: 200 }}
  class="tile"
  class:flip={tile.direction}
  class:holding={pointerOrigin}
  class:locked={pointerDirection}
  style={`
    ${tile.direction ? `
      --size: 1rem;
      --x: ${hueToX(hues[tile.direction], hueOffset)};
      --y: ${hueToY(hues[tile.direction], hueOffset)};
    ` : pointerDirection ? `
      --offset-x: ${directionX(pointerDirection) * swipeThreshold};
      --offset-y: ${directionY(pointerDirection) * swipeThreshold};
    ` : ''}
    background: ${tile.color};
  `} />
