<script lang="ts">
  import Game from "./components/Game.svelte";
  import Scoreboard from "./components/Scoreboard.svelte";

  let score: Score;
</script>

<main>
  {#if score}
    <Scoreboard {score} on:submit={() => (score = undefined)} />
  {:else}
    <Game
      hueOffset={Math.floor(Math.random() * 360)}
      on:end={(e) => (score = e.detail)} />
  {/if}
</main>
